---
import Layout from '../layouts/Layout.astro';
import CollaborativeEditor from '../components/CollaborativeEditor.jsx';
import '../styles/index.css';
import 'bootstrap/dist/css/bootstrap.min.css';
---

<Layout title="AstroCodePad">
  <div id="editor-root">
    <CollaborativeEditor client:only="react" />
  </div>
</Layout>

<style>
  #editor-root {
    height: 100vh;
    width: 100%;
  }
</style>
</html>