
---
import Layout from '../layouts/Layout.astro';
import CodeEditor from '../components/CodeEditor.jsx';
import '../styles/index.css';
import 'bootstrap/dist/css/bootstrap.min.css';
---

<Layout title="Astro Code Editor">
  <div id="editor-root">
    <CodeEditor client:only="react" />
  </div>
</Layout>

<style>
  #editor-root {
    height: 100vh;
    width: 100%;
  }
</style>
</html>